<div class="p-4 border border-border rounded bg-surface hover:border-primary transition-colors">
  <%= link_to site_path(@site), class: "block hover:no-underline" do %>
    <h2 class="font-bold text-lg text-content-primary"><%= @site.name %></h2>
    <p class="text-sm text-content-secondary"><%= @site.property_id %></p>
    <p class="text-sm text-content-muted">Created <%= @site.created_at.strftime("%B %d, %Y") %></p>
  <% end %>
  <div class="mt-4 flex gap-2">
    <%= link_to site_instructions_path(@site), title: t("sites.instructions.title"), data: { turbo_frame: "modals", action: "slideover#open" }, class: "text-content-secondary hover:text-content-primary transition-colors" do %>
      <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
      </svg>
    <% end %>
  </div>
</div>
